@import "../partials/variables";

.footer {
  text-align: center;
  padding: ($base4X * 2) 0;

  svg {
    margin-bottom: $base4X;
  }
}

.copyright {
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 12px;
}

.tracking {
  color: #555;
  font-size: 12px;
}
