@import "../partials/variables";

.hero {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;

  p {
    margin-bottom: $base3X * 2;
  }

  a {
    margin: 0 $base 0 0;
  }

  //   &:before {
  //     content: "";
  //     background-color: $primary-color;
  //     position: absolute;
  //     top: 138px;
  //     height: 4px;
  //     width: 1600px;
  //     left: 50%;
  //     margin-left: -800px;
  //   }

  //   &:after {
  //     content: "";
  //     background-color: green;
  //     position: absolute;
  //     top: 138px;
  //     height: 4px;
  //     width: 4px;
  //     left: 50%;
  //     margin-left: -2px;
  //   }
}

.banner {
  height: 480px;
  margin-right: -275px;
  flex: 1.52;
}

.cta {
  flex: 1;
  z-index: 2;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 8%;
    width: 50%;
    height: 100%;
    background: white;
    transform: skew(20deg);
    z-index: -1;
  }
}

.publishedIn {
  background: $soft-background;
  position: relative;
  padding-bottom: $base3X + 80px;
  margin-bottom: $base3X;
}

.logoContainer {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 8.33%;
  justify-content: space-between;
  align-items: center;

  img {
    position: absolute !important;
    height: auto !important;
  }
}

.workButton {
  position: absolute;
  bottom: -32px;
  box-shadow: 0 0 0 10px white;
  left: 0;
  right: 0;
  margin: auto;
  max-width: 250px;
}
