@import "../partials/variables";

.page {
  h1 {
    font-size: 42px;
    text-align: center;
    line-height: 1.5;

    @media screen and (max-width: 640px) {
      font-size: 32px;
    }
  }
}

.unstyledList {
  list-style-type: none;
  margin-left: 0;
}
