@import "../partials/variables";

.sectionHeader {
  @include alt-font(5);
  text-align: center;
  font-size: 1.67rem;
  margin-bottom: 0;
  padding-bottom: $base2X * 4;

  &:before,
  &:after {
    content: "•••";
    color: $primary-color;
    display: inline-block;
  }

  &:before {
    margin-right: $base;
  }

  &:after {
    margin-left: $base;
  }
}
