// Colors

$primary-color: #911b35;
$black: #3c3c3c;
$soft-background: #f5eee3;

// Spacing

$base: 8px;
$base2X: $base * 2;
$base3X: $base * 3;
$base4X: $base * 4;

$wrapper-width: 1100px;
$wrapper-thin-width: 800px;
$wrapper-small-width: 700px;

// Fonts

$fonts-base: "Sarabun", Arial, Helvetica, sans-serif;
$fonts-fancy: "Prata", Georgia, "Times New Roman", Times, serif;
$fonts-app: "Poppins", "Sarabun", Arial, Helvetica, sans-serif;

// Mixins

@mixin alt-font($letter-spacing) {
  font-family: $fonts-app;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: #{$letter-spacing}px;
}
