.wrapper {
  max-width: $wrapper-width;
  padding-left: $base3X;
  padding-right: $base3X;
  margin: 0 auto;

  &-thin {
    max-width: $wrapper-thin-width;
  }
}

section {
  padding: ($base * 12) 0;

  &.shaded-section {
    background-color: $soft-background;
  }
}
