@import "../../styles/partials/variables.scss";

.hero {
  display: flex;
  align-items: center;
  position: relative;
  padding-top: 0;
  padding-bottom: 0;

  p {
    margin-bottom: $base3X * 2;
  }

  a {
    margin: 0 $base2X 0 0;

    @media screen and (max-width: 900px) {
      margin-bottom: $base2X;
    }

    @media screen and (max-width: 540px) {
      display: block;
      margin-right: 0;
    }
  }
}

.cta {
  flex: 1;
  z-index: 2;
  margin-right: $base4X;

  h2 {
    font-size: 4.8rem;
    margin-bottom: 2.4rem;
    margin-top: 0;
  }

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 50%;
    height: 100%;
    background: white;
    transform: skew(20deg);
    z-index: -1;

    @media screen and (max-width: 1120px) {
      transform: skew(15deg);
    }

    @media screen and (max-width: 920px) {
      transform: skew(5deg);
      left: 7%;
    }
  }

  @media screen and (max-width: 700px) {
    margin-right: 0;
    margin-top: ($base3X * 2);
  }
}
