@import "../../styles/partials/variables.scss";

.bannerImage {
  height: 480px;
  margin-right: -275px;
  flex: 1.52;

  @media screen and (max-width: 1120px) {
    margin-right: -$base3X;
    flex: 1;
  }

  @media screen and (max-width: 700px) {
    display: none;
  }
}
